meta {
  -theme-interface-style: dark;
  -theme-vibrancy: none;
  -theme-accent-color: true;
}
meta.window {
  background-color: #1a1626;
  border-color: rgba(103, 87, 151, 0.25);
}
meta.titlebar {
  color: #e0ddeb;
  background: #1a1626;
  border-color: rgba(103, 87, 151, 0.25);
}
meta.titlebar.inactive {
  background-color: #1a1626;
}
meta.button {
  background: linear-gradient(rgba(103, 87, 151, 0.25), rgba(81, 69, 119, 0.2));
  border-color: rgba(103, 87, 151, 0.25);
  color: #e0ddeb;
}
meta.button.selected {
  background: linear-gradient(#2ca3de, #135678);
  color: #e0ddeb;
}
meta.button.highlighted {
  background: linear-gradient(rgba(103, 87, 151, 0.5), rgba(81, 69, 119, 0.1));
}
meta.button.highlighted.selected {
  background: linear-gradient(rgba(44, 163, 222, 0.75), rgba(19, 86, 120, 0.75));
  color: #e0ddeb;
}
meta.button.disabled {
  background-color: transparent;
  color: rgba(139, 130, 173, 0.5);
}
meta.textfield {
  background-color: #211c30;
  border-color: rgba(103, 87, 151, 0.25);
}
meta.textfield.active {
  background-color: #211c30;
  border-color: rgba(103, 87, 151, 0.5);
}
meta.document {
  background-color: #211c30;
  border-color: rgba(103, 87, 151, 0.25);
}
meta.document.button {
  background: linear-gradient(rgba(103, 87, 151, 0.25), rgba(81, 69, 119, 0.2));
  border-color: rgba(103, 87, 151, 0.25);
}
meta.document.button.disabled {
  background-color: transparent;
  color: rgba(139, 130, 173, 0.5);
}
meta.document.button.highlighted {
  background: linear-gradient(rgba(103, 87, 151, 0.5), rgba(81, 69, 119, 0.1));
}
meta.document.textfield {
  background-color: rgba(81, 69, 119, 0.15);
  border-color: rgba(103, 87, 151, 0.25);
}
meta.text {
  color: #e0ddeb;
}
meta.text.invisible {
  color: #514577;
}
meta.text.selected {
  background-color: rgba(81, 69, 119, 0.15);
}
meta.cursor {
  background-color: rgba(81, 69, 119, 0.15);
}
meta.indentguide {
  border-color: rgba(103, 87, 151, 0.15);
}
meta.gutter {
  color: #514577;
}
meta.gutter.selected {
  background-color: rgba(81, 69, 119, 0.15);
  color: #8b82ad;
}

keyword {
  color: #ed5bd0;
}

comment {
  color: #514577;
}

processing {
  color: #514577;
}

declaration {
  color: #e0ddeb;
}

bracket {
  color: #675797;
}

operator {
  color: #675797;
}

invalid {
  background-color: #e72662;
  color: #e0ddeb;
}

link {
  color: #2ca3de;
}

value.boolean, value.null, value.number, value.entity {
  color: #ed6e40;
}
value.symbol {
  color: #ed5bd0;
}

identifier.type {
  color: #eabe41;
}
identifier.global {
  color: #3aae64;
}
identifier.variable {
  color: #9072f1;
}
identifier.property {
  color: #3aae64;
}
identifier.argument {
  color: #9072f1;
}
identifier.decorator, identifier.method {
  color: #ed5bd0;
}
identifier.function, identifier.core.function {
  color: #2ca3de;
}

string,
string.key,
string-template,
string-template.value {
  color: #eabe41;
}

string.double-quoted.escape,
string.single-quoted.escape,
regex.escaped {
  color: #2ca3de;
}

string.double-quoted.delimiter,
string.single-quoted.delimiter {
  color: #675797;
}

cdata {
  color: #ed5bd0;
}

markup.heading {
  color: #9072f1;
}
markup.image.markup.link, markup.line {
  color: #eabe41;
}
markup.bold {
  color: #ed6e40;
  font-weight: bold;
}
markup.italic {
  color: #ed5bd0;
  font-style: italic;
}
markup.strikethrough {
  color: #e72662;
}
markup.list.item {
  color: #e72662;
}
markup.code {
  color: #3aae64;
}

markdown.image.string {
  color: #2ca3de;
}

definition.class class.name, definition.type type.name, definition.package package.name, definition.enum enum.name, definition.union union.name, definition.struct struct.name {
  font-weight: bold;
  color: #ed5bd0;
}
definition.property property.name, definition.function function.name, definition.method method.name {
  color: #2ca3de;
}

tag {
  color: #9072f1;
}
tag.framework {
  color: #e72662;
}
tag.attribute.name {
  color: #ed6e40;
}
tag.attribute.value {
  color: #eabe41;
}
tag.attribute.value.link {
  color: #2ca3de;
  text-decoration: underline;
}
tag.attribute.value.quote.right, tag.attribute.value.quote.left {
  color: #514577;
}
tag.attribute.equals-sign {
  color: #514577;
}
tag.open.paired, tag.close, tag.open.single {
  color: #514577;
}

style.at, style.selector, style.selector.separator, style.value.keyword.default, style.selector.identifier.id, style.value.keyword.important {
  color: #ed5bd0;
}
style.value {
  color: #8b82ad;
}
style.attribute.name {
  color: #e0ddeb;
}
style.value.color.hex {
  color: #3aae64;
}
style.value.number, style.value.color.named, style.selector.pseudoclass, style.selector.pseudoelement, style.selector.attribute.name, style.selector.attribute.single, style.selector.identifier.class {
  color: #ed6e40;
}
style.value.identifier.function {
  color: #2ca3de;
}
style.selector.attribute.pseudoclass, style.selector.attribute.pseudoelement, style.attribute.identifier.name, style.value.identifier.variable, style.selector.element {
  color: #9072f1;
}
style.value.bracket, style.selector.operator, style.attribute.separator, style.variable-definition.separator {
  color: #514577;
}

python.identifier.argument.name {
  color: #9072f1;
}

terminal.red {
  color: #e72662;
}
terminal.green {
  color: #3aae64;
}
terminal.yellow {
  color: #eabe41;
}
terminal.blue {
  color: #2ca3de;
}
terminal.magenta {
  color: #ed5bd0;
}
terminal.cyan {
  color: #4ec7b9;
}
terminal.white {
  color: #e0ddeb;
}
